---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
    <div class="container">
        <h3>test-LIST</h3>
        <hr />
        <a href={`/test`}>[ Test ]</a>	
        <hr />
        <a href={`/test4`}>[ test4 ]</a> <span>Excel test</span>
        <hr />
        <a href={`/test5`}>[ test5 ]</a> <span>Pdf test</span>
        <hr />
        <a href={`/test6`}>[ test6 ]</a> <span>modal</span>
        <hr />
    </div>
</Layout>

<style>
</style>
