---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
    <div class="container">
        <h3>test5-PDF</h3>
        <hr />
        <button id="btn_test" class="btn btn-primary">Test
        </button>		
    </div>
</Layout>

<style>
</style>
<!-- -->
<script src="./Test.ts"></script>