---
// sessionDb, auth login check

import Layout from '../../layouts/Layout.astro';
import Auth from '../../lib/server/Auth';
//
const valid = await Auth.kvValidate(Astro);
if(!valid) { return Astro.redirect('/login'); }

---

<!-- MarkUp -->
<Layout title="Welcome to Astro.">
    <div class="container">
        <h3>testAuth5</h3>
        <hr />
        <button id="btn_test" class="btn btn-primary">Test
        </button>		

    </div>
</Layout>

<style>
</style>

<!-- -->
<script src="./Test.ts"></script>