---
import Layout from '../../layouts/Layout.astro';
import HttpCommon from '../../lib/HttpCommon';

const json = await HttpCommon.post({}, "/test/get_list");
console.log(json);
---

<Layout title="Welcome to Astro.">
    <div class="container">
        <h3>test2</h3>
        <hr />
        <p class="test_color1">Test-CSS</p>
        <hr />
        <pre class="ex_pre1 p-2">
        AAA
        BBB
        </pre>
        <hr />
        <button id="btn_put" class="btn btn-primary">Put
        </button>		
    </div>
</Layout>

<style>
.test_color1 { color: red; }
.ex_pre1 { background: #EEE; 
}
</style>
<!-- -->
<script src="./Test.ts"></script>